@import '_global-grid';

.grid-ex-cont {
  padding: 10px 0;
  position: relative;
  color:#333;
  margin-bottom: 10px;
  overflow: hidden;

  .row > .col {
    text-indent: 10px;
    line-height: 20px;
    // To add color shading
    &:before, &:after {
      background-color: rgba(209, 232, 56, .4);
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: auto;
    }
    &:after {
      background-color: #c1e9ff;
      top: $gutters;
      left: $gutters;
      right: $gutters;
      bottom: $gutters;
    }
  }
  // To add grey background reference lines
  .row-template {
    position: absolute;
    top:-10px;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    padding:0;
    .col {
      height: 100%;
      position: relative;
      float: left;
      padding:0;
      margin:0;
      &:before { display: none; }
      &:after {
        border:none;
        background-color: #eee;
        visibility: inherit;
        height: auto;
        width: auto;
      }
    }
    .span-1 {
      width: (100%/$col-num);
    }
  }
}