.container {
  margin: 0 auto; }

.row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.row {
  margin: 0 -12px 20px -12px; }
  .row.row-padded {
    margin-left: 0;
    margin-right: 0; }
  .row.last {
    margin-bottom: 0; }
  .row.row-zero-margin {
    margin-bottom: 0; }
  .row.row-spacer {
    padding-top: 60px;
    display: block; }
  .row.row-flat-bottom {
    margin-bottom: 0; }
    .row.row-flat-bottom .col {
      margin-bottom: 0;
      padding-bottom: 0; }
  .row.row-flat {
    margin-top: 0;
    margin-bottom: 0; }
    .row.row-flat .col {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
  .row.row-flat-top {
    margin-top: 0; }
    .row.row-flat-top .col {
      margin-top: 0;
      padding-top: 0; }

.col {
  /* will cause padding to cut into box model */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  display: block;
  float: left;
  width: 100%; }
  .col.col-flatRight {
    padding-right: 0; }
  .col.col-flatLeft {
    padding-left: 0; }

.row-equal {
  position: relative; }
  .row-equal.has-btn-row-lg .col {
    margin-bottom: 60px; }
  .row-equal.has-btn-row-md .col {
    margin-bottom: 40px; }
  .row-equal.has-btn-row-sm .col {
    margin-bottom: 20px; }
  .row-equal .button-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 12px;
    margin-left: -12px;
    padding-right: 12px; }
  .row-equal .col-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -12px; }
    .row-equal .col-bg:after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 12px;
      right: 12px;
      background: #ccc;
      z-index: -1; }

/* Set span widths */
.span-1 {
  width: 8.33333%; }
  .span-1:after, .span-1 .col-bg, .span-1 .button-row {
    width: 8.33333%; }

/* Set span offsets */
.offset-1 {
  margin-left: 8.33333%; }

/* Set span widths */
.span-2 {
  width: 16.66667%; }
  .span-2:after, .span-2 .col-bg, .span-2 .button-row {
    width: 16.66667%; }

/* Set span offsets */
.offset-2 {
  margin-left: 16.66667%; }

/* Set span widths */
.span-3 {
  width: 25%; }
  .span-3:after, .span-3 .col-bg, .span-3 .button-row {
    width: 25%; }

/* Set span offsets */
.offset-3 {
  margin-left: 25%; }

/* Set span widths */
.span-4 {
  width: 33.33333%; }
  .span-4:after, .span-4 .col-bg, .span-4 .button-row {
    width: 33.33333%; }

/* Set span offsets */
.offset-4 {
  margin-left: 33.33333%; }

/* Set span widths */
.span-5 {
  width: 41.66667%; }
  .span-5:after, .span-5 .col-bg, .span-5 .button-row {
    width: 41.66667%; }

/* Set span offsets */
.offset-5 {
  margin-left: 41.66667%; }

/* Set span widths */
.span-6 {
  width: 50%; }
  .span-6:after, .span-6 .col-bg, .span-6 .button-row {
    width: 50%; }

/* Set span offsets */
.offset-6 {
  margin-left: 50%; }

/* Set span widths */
.span-7 {
  width: 58.33333%; }
  .span-7:after, .span-7 .col-bg, .span-7 .button-row {
    width: 58.33333%; }

/* Set span offsets */
.offset-7 {
  margin-left: 58.33333%; }

/* Set span widths */
.span-8 {
  width: 66.66667%; }
  .span-8:after, .span-8 .col-bg, .span-8 .button-row {
    width: 66.66667%; }

/* Set span offsets */
.offset-8 {
  margin-left: 66.66667%; }

/* Set span widths */
.span-9 {
  width: 75%; }
  .span-9:after, .span-9 .col-bg, .span-9 .button-row {
    width: 75%; }

/* Set span offsets */
.offset-9 {
  margin-left: 75%; }

/* Set span widths */
.span-10 {
  width: 83.33333%; }
  .span-10:after, .span-10 .col-bg, .span-10 .button-row {
    width: 83.33333%; }

/* Set span offsets */
.offset-10 {
  margin-left: 83.33333%; }

/* Set span widths */
.span-11 {
  width: 91.66667%; }
  .span-11:after, .span-11 .col-bg, .span-11 .button-row {
    width: 91.66667%; }

/* Set span offsets */
.offset-11 {
  margin-left: 91.66667%; }

/* Set span widths */
.span-12 {
  width: 100%; }
  .span-12:after, .span-12 .col-bg, .span-12 .button-row {
    width: 100%; }

/* Set span offsets */
.offset-12 {
  margin-left: 100%; }

.span-half {
  width: 50%; }
  .span-half:after, .span-half .col-bg, .span-half .button-row {
    width: 50%; }

.offset-half {
  margin-left: 50%; }
  .offset-half:after, .offset-half .col-bg, .offset-half .button-row {
    margin-left: 50%; }

.span-third {
  width: 33.33%; }
  .span-third:after, .span-third .col-bg, .span-third .button-row {
    width: 33.33%; }

.offset-third {
  margin-left: 33.33%; }
  .offset-third:after, .offset-third .col-bg, .offset-third .button-row {
    margin-left: 33.33%; }

.span-fourth {
  width: 25%; }
  .span-fourth:after, .span-fourth .col-bg, .span-fourth .button-row {
    width: 25%; }

.offset-fourth {
  margin-left: 25%; }
  .offset-fourth:after, .offset-fourth .col-bg, .offset-fourth .button-row {
    margin-left: 25%; }

@media (max-width: 767px) {
  .row {
    margin-bottom: 0; }

  .col {
    float: none;
    width: 100%;
    margin-bottom: 0;
    padding: 0 12px; }

  .col.last {
    padding-bottom: 12px;
    margin-bottom: 1.5em; }

  .row .col-bg {
    display: none; }
  .row.row-equal .button-row {
    position: static; }
  .row.row-equal.has-btn-row-lg .col, .row.row-equal.has-btn-row-md .col, .row.row-equal.has-btn-row-sm .col {
    margin-bottom: 1.5em; }

  .split-cont {
    position: relative;
    *zoom: 1; }
    .split-cont:before, .split-cont:after {
      content: " ";
      display: table; }
    .split-cont:after {
      clear: both; }

  .split-2 .col {
    float: left;
    width: 50%; }

  .split-3 .col {
    float: left;
    width: 33.33%; }

  .split-4 .col {
    float: left;
    width: 25%; }

  .split-5 .col {
    float: left;
    width: 20%; }

  .split-6 .col {
    float: left;
    width: 16.66%; } }
@media (max-width: 480px) {
  .row .col {
    float: none;
    width: 100%; }

  .row .col-bg {
    display: none; }

  .row.row-equal .button-row {
    position: static; } }
