.row {
  margin: 0 -12px 20px -12px;
  *zoom: 1;
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */
  /* Set span widths */
  /* Set span offsets */ }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.row-padded {
    margin-left: 0;
    margin-right: 0; }
  .row > .col {
    /* will cause padding to cut into box model */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    display: block;
    float: left;
    width: 100%;
    position: relative; }
  .row > .span-1 {
    width: 8.33333%; }
  .row > .offset-1 {
    margin-left: 8.33333%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-1 {
      width: 8.33333%; }
    .row > .offset-xsm-1 {
      margin-left: 8.33333%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-1 {
      width: 8.33333%; }
    .row > .offset-sm-1 {
      margin-left: 8.33333%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-1 {
      width: 8.33333%; }
    .row > .offset-md-1 {
      margin-left: 8.33333%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-1 {
      width: 8.33333%; }
    .row > .offset-lg-1 {
      margin-left: 8.33333%; } }
  .row > .span-2 {
    width: 16.66667%; }
  .row > .offset-2 {
    margin-left: 16.66667%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-2 {
      width: 16.66667%; }
    .row > .offset-xsm-2 {
      margin-left: 16.66667%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-2 {
      width: 16.66667%; }
    .row > .offset-sm-2 {
      margin-left: 16.66667%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-2 {
      width: 16.66667%; }
    .row > .offset-md-2 {
      margin-left: 16.66667%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-2 {
      width: 16.66667%; }
    .row > .offset-lg-2 {
      margin-left: 16.66667%; } }
  .row > .span-3 {
    width: 25%; }
  .row > .offset-3 {
    margin-left: 25%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-3 {
      width: 25%; }
    .row > .offset-xsm-3 {
      margin-left: 25%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-3 {
      width: 25%; }
    .row > .offset-sm-3 {
      margin-left: 25%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-3 {
      width: 25%; }
    .row > .offset-md-3 {
      margin-left: 25%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-3 {
      width: 25%; }
    .row > .offset-lg-3 {
      margin-left: 25%; } }
  .row > .span-4 {
    width: 33.33333%; }
  .row > .offset-4 {
    margin-left: 33.33333%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-4 {
      width: 33.33333%; }
    .row > .offset-xsm-4 {
      margin-left: 33.33333%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-4 {
      width: 33.33333%; }
    .row > .offset-sm-4 {
      margin-left: 33.33333%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-4 {
      width: 33.33333%; }
    .row > .offset-md-4 {
      margin-left: 33.33333%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-4 {
      width: 33.33333%; }
    .row > .offset-lg-4 {
      margin-left: 33.33333%; } }
  .row > .span-5 {
    width: 41.66667%; }
  .row > .offset-5 {
    margin-left: 41.66667%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-5 {
      width: 41.66667%; }
    .row > .offset-xsm-5 {
      margin-left: 41.66667%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-5 {
      width: 41.66667%; }
    .row > .offset-sm-5 {
      margin-left: 41.66667%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-5 {
      width: 41.66667%; }
    .row > .offset-md-5 {
      margin-left: 41.66667%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-5 {
      width: 41.66667%; }
    .row > .offset-lg-5 {
      margin-left: 41.66667%; } }
  .row > .span-6 {
    width: 50%; }
  .row > .offset-6 {
    margin-left: 50%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-6 {
      width: 50%; }
    .row > .offset-xsm-6 {
      margin-left: 50%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-6 {
      width: 50%; }
    .row > .offset-sm-6 {
      margin-left: 50%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-6 {
      width: 50%; }
    .row > .offset-md-6 {
      margin-left: 50%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-6 {
      width: 50%; }
    .row > .offset-lg-6 {
      margin-left: 50%; } }
  .row > .span-7 {
    width: 58.33333%; }
  .row > .offset-7 {
    margin-left: 58.33333%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-7 {
      width: 58.33333%; }
    .row > .offset-xsm-7 {
      margin-left: 58.33333%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-7 {
      width: 58.33333%; }
    .row > .offset-sm-7 {
      margin-left: 58.33333%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-7 {
      width: 58.33333%; }
    .row > .offset-md-7 {
      margin-left: 58.33333%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-7 {
      width: 58.33333%; }
    .row > .offset-lg-7 {
      margin-left: 58.33333%; } }
  .row > .span-8 {
    width: 66.66667%; }
  .row > .offset-8 {
    margin-left: 66.66667%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-8 {
      width: 66.66667%; }
    .row > .offset-xsm-8 {
      margin-left: 66.66667%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-8 {
      width: 66.66667%; }
    .row > .offset-sm-8 {
      margin-left: 66.66667%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-8 {
      width: 66.66667%; }
    .row > .offset-md-8 {
      margin-left: 66.66667%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-8 {
      width: 66.66667%; }
    .row > .offset-lg-8 {
      margin-left: 66.66667%; } }
  .row > .span-9 {
    width: 75%; }
  .row > .offset-9 {
    margin-left: 75%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-9 {
      width: 75%; }
    .row > .offset-xsm-9 {
      margin-left: 75%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-9 {
      width: 75%; }
    .row > .offset-sm-9 {
      margin-left: 75%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-9 {
      width: 75%; }
    .row > .offset-md-9 {
      margin-left: 75%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-9 {
      width: 75%; }
    .row > .offset-lg-9 {
      margin-left: 75%; } }
  .row > .span-10 {
    width: 83.33333%; }
  .row > .offset-10 {
    margin-left: 83.33333%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-10 {
      width: 83.33333%; }
    .row > .offset-xsm-10 {
      margin-left: 83.33333%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-10 {
      width: 83.33333%; }
    .row > .offset-sm-10 {
      margin-left: 83.33333%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-10 {
      width: 83.33333%; }
    .row > .offset-md-10 {
      margin-left: 83.33333%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-10 {
      width: 83.33333%; }
    .row > .offset-lg-10 {
      margin-left: 83.33333%; } }
  .row > .span-11 {
    width: 91.66667%; }
  .row > .offset-11 {
    margin-left: 91.66667%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-11 {
      width: 91.66667%; }
    .row > .offset-xsm-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-11 {
      width: 91.66667%; }
    .row > .offset-sm-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-11 {
      width: 91.66667%; }
    .row > .offset-md-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-11 {
      width: 91.66667%; }
    .row > .offset-lg-11 {
      margin-left: 91.66667%; } }
  .row > .span-12 {
    width: 100%; }
  .row > .offset-12 {
    margin-left: 100%; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .row > .span-xsm-12 {
      width: 100%; }
    .row > .offset-xsm-12 {
      margin-left: 100%; } }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .row > .span-sm-12 {
      width: 100%; }
    .row > .offset-sm-12 {
      margin-left: 100%; } }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .row > .span-md-12 {
      width: 100%; }
    .row > .offset-md-12 {
      margin-left: 100%; } }
  @media screen and (min-width: 1024px) {
    .row > .span-lg-12 {
      width: 100%; }
    .row > .offset-lg-12 {
      margin-left: 100%; } }
