@import '_global-grid';
// ===================================
// Styles
// ===================================
.row {
	margin: 0 (0-$gutters) 20px (0-$gutters);
	@include clearfix();
	&.row-padded {
		margin-left: 0;
		margin-right: 0;
	}

	& > .col {
		/* will cause padding to cut into box model */
		@include boxSize();
		padding: $gutters;
		display: block;
		float: left;
		width: 100%;
		position: relative;
	}

	@for $i from 1 through $col-num {
		$tmp: (100%/$col-num)*$i;
		/* Set span widths */
		& > .span-#{$i} {
			width: $tmp;
		}
		/* Set span offsets */
		& > .offset-#{$i} {
			margin-left: $tmp;
		}
		@media screen and (min-width: 0) and (max-width: $sm - 1) {
			& > .span-xsm-#{$i} { width: $tmp; }
			& > .offset-xsm-#{$i} { margin-left: $tmp; }
		}
		@media screen and (min-width: $sm) and (max-width: $md - 1) {
			& > .span-sm-#{$i} { width: $tmp; }
			& > .offset-sm-#{$i} { margin-left: $tmp; }
		}
		@media screen and (min-width: $md) and (max-width: $lg - 1) {
			& > .span-md-#{$i} { width: $tmp; }
			& > .offset-md-#{$i} { margin-left: $tmp; }
		}
		@media screen and (min-width: $lg) {
			& > .span-lg-#{$i} { width: $tmp; }
			& > .offset-lg-#{$i} { margin-left: $tmp; }
		}
	}
}