/*
Syntax error: Undefined variable: "$mobile".
        on line 146 of _css/rspGrid-x_v2.scss

141: 	margin-left: 25%;
142: 	&:after, .col-bg, .button-row { margin-left: 25%}
143: }
144: 
145: 
146: @media ( max-width : $mobile ) {
147: 	.row { margin-bottom: 0; }
148: 	.col {
149: 		float:none;
150: 		width: 100%;
151: 		margin-bottom: 0;

Backtrace:
_css/rspGrid-x_v2.scss:146
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:503:in `block in run_interp_no_strip'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:501:in `map'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:501:in `run_interp_no_strip'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:511:in `run_interp'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:476:in `visit_media'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/tony.walt/.rvm/gems/ruby-2.1.0/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$mobile\".\A         on line 146 of _css/rspGrid-x_v2.scss\A \A 141: 	margin-left: 25%;\A 142: 	&:after, .col-bg, .button-row { margin-left: 25%}\A 143: }\A 144: \A 145: \A 146: @media ( max-width : $mobile ) {\A 147: 	.row { margin-bottom: 0; }\A 148: 	.col {\A 149: 		float:none;\A 150: 		width: 100%;\A 151: 		margin-bottom: 0;"; }
